*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:#121212;
  color:white;
  font-family:
    Inter,
    Arial,
    sans-serif;
}

::-webkit-scrollbar{
  width:8px;
}

::-webkit-scrollbar-thumb{
  background:#333;
  border-radius:10px;
}

input[type="range"]{
  accent-color:#1DB954;
}

button{
  transition:all 0.2s ease;
}

button:hover{
  transform:scale(1.08);
}