*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:#121212;
  color:white;
  font-family:
    Inter,
    Arial,
    sans-serif;
}

::-webkit-scrollbar{
  width:8px;
}

::-webkit-scrollbar-thumb{
  background:#333;
  border-radius:10px;
}

input[type="range"]{
  accent-color:#1DB954;
}

button{
  transition:all 0.2s ease;
}

button:hover{
  transform:scale(1.08);
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;

  height: 6px;

  border-radius: 999px;

  background: #555;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;

  width: 16px;
  height: 16px;

  border-radius: 50%;

  background: #1db954;

  cursor: pointer;

  transition: all 0.2s ease;

  box-shadow:
    0px 0px 10px rgba(29,185,84,.6);
}

input[type="range"]:hover::-webkit-slider-thumb {
  transform: scale(1.25);
}