.search-header {
  margin-bottom: 35px;
}

.search-input {
  width: 100%;
  max-width: 700px;

  padding: 16px 22px;

  border-radius: 50px;

  border: none;

  outline: none;

  font-size: 18px;

  background: #242424;

  color: white;
}

.search-input:focus {
  box-shadow: 0 0 15px rgba(29,185,84,.5);
}

.section-title {
  margin-bottom: 20px;
}

.genre-grid {
  display: grid;

  grid-template-columns:
    repeat(auto-fill, minmax(220px,1fr));

  gap: 20px;
}

.genre-card {
  height: 140px;

  border-radius: 16px;

  font-size: 28px;

  font-weight: bold;

  display: flex;

  align-items: center;

  justify-content: center;

  cursor: pointer;

  transition: .3s;
}

.genre-card:hover {
  transform: scale(1.05);
}

.pop {
  background: #ff4d6d;
}

.rock {
  background: #ff7b00;
}

.hiphop {
  background: #4361ee;
}

.edm {
  background: #00c853;
}

.chill {
  background: #9c27b0;
}

.workout {
  background: #f72585;
}

.search-results {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.search-card {
  width: 220px;

  background: #181818;

  border-radius: 16px;

  padding: 15px;

  cursor: pointer;

  transition: .3s;
}

.search-card:hover {
  transform: translateY(-6px);
  background: #222;
}

.search-card img {
  width: 100%;
  height: 200px;

  object-fit: cover;

  border-radius: 12px;
}

.search-card h3 {
  margin-top: 10px;
}

.search-card p {
  color: #b3b3b3;
}